<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Products</title>
</head>
<body>
<main class="min-h-[85%]">
    <div id="app">
        {% block content %}

        {% endblock %}
    </div>
</main>

<footer class="border-t-2 border-black mx-10 pb-10">
    <p class="text-center mt-10 font-medium">Scandiweb Test assignement</p>
</footer>

</body>

<script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    createApp({
        data() {
            return {
                sku: '',
                name: '',
                price: 0,

                type: 'DVD',

                height: 0,
                width: 0,
                length: 0,

                size: 0,
                dimensions: '0x0x0',
                weight: 0
            }
        },
        delimiters: ['[[', ']]']
    }).mount('#app');

</script>

</html>