{% extends 'layout.twig' %}

{% block content %}
    <form id="product_form" action="/add" method="post">
        <div class="flex flex-row border-b-2 border-black justify-between mx-4 mt-10">
            <div class="text-3xl">
                Product Add
            </div>

            <div class="flex flex-row gap-2 mb-2">
                <button class="border-2 border-black px-1 shadow-md shadow-black hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-90">
                    Save
                </button>
                <button class="border-2 border-black px-1 shadow-md shadow-black hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-90">
                    Cancel
                </button>
            </div>
        </div>

        <div class="flex flex-col gap-20 mx-10 my-20">
            <div class="flex flex-col gap-3 w-1/5">
                <div class="flex flex-row justify-between">
                    <label for="sku">SKU</label>
                    <input type="text" name="sku" id="sku" class="border-2 border-black"/>
                </div>
                <div class="flex flex-row justify-between">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="border-2 border-black mr-0"/>
                </div>
                <div class="flex flex-row justify-between">
                    <label for="price">Price ($)</label>
                    <input type="number" name="price" id="price" class="border-2 border-black mr-0"/>
                </div>
            </div>

            <div>
                <label for="productType">Type Switcher </label>
                <select v-model="type" name="productType" id="productType" class="border-2 border-black bg-white">
                    <option value="DVD">DVD</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Book">Book</option>
                </select>
            </div>

            <div v-if="type === 'DVD'" class="border-2 border-black p-4 w-1/4">
                <div class="flex flex-col gap-3 w-full">
                    <p>Please, provide size:</p>
                    <div class="flex flex-row justify-between">
                        <label for="size">Size (MB)</label>
                        <input type="number" name="attribute" id="size" class="border-2 border-black mr-0"/>
                    </div>
                </div>
            </div>

            <div v-if="type === 'Furniture'" class="border-2 border-black p-4 w-1/4">
                <div class="flex flex-col gap-3 w-full">
                    <p>Please, provide dimensions:</p>
                    <div class="flex flex-row justify-between">
                        <label for="height">Height (CM)</label>
                        <input type="number" name="attribute" id="height" class="border-2 border-black mr-0"/>
                    </div>
                    <div class="flex flex-row justify-between">
                        <label for="width">Width (CM)</label>
                        <input type="number" name="attribute" id="width" class="border-2 border-black mr-0"/>
                    </div>
                    <div class="flex flex-row justify-between">
                        <label for="length">Length (CM)</label>
                        <input type="number" name="attribute" id="length" class="border-2 border-black mr-0"/>
                    </div>
                </div>
            </div>


            <div v-if="type === 'Book'" class="border-2 border-black p-4 w-1/4">
                <div class="flex flex-col gap-3 w-full">
                    <p>Please, provide weight:</p>
                    <div class="flex flex-row justify-between">
                        <label for="weight">Weight (KG)</label>
                        <input type="number" name="attribute" id="weight" class="border-2 border-black mr-0"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        createApp({
            data() {
                return {
                    type: 'DVD',
                }
            },
            methods: {
                fetchAllData:function(){
                    axios.post('')
                }
            },
            delimiters: ['[[', ']]']
        }).mount('#app');

    </script>

{% endblock %}
